<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="4.0.8" />
  <package id="Rx-Main" version="1.0.11226" />
  <package id="SignalR.Client" version="0.4.0.2" />
  <package id="SignalR.Hosting.Self" version="0.4.0.0" />
  <package id="SignalR.Server" version="0.4.0.0" />
</packages>