@model object

@{
    ViewBag.Title = "Spinning cube using Three.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="container">
    <div style="text-align: center; font-size: x-large;">Spinning cube using Three.js</div>
    <div style="text-align: right; font-size: x-small;">By Per Brage</div>
</div>

<script src="@Url.Content("~/Scripts/ThreeJsCube.js")"></script>
